<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>交易日志</title>
    <style>
        .pagination li{
            float:left;
            list-style: none;
            margin-left: 10px;
        }
    </style>
</head>
<body>
<h1>交易日志</h1>

<table>
    <tr>
        <td>流水号</td>
        <td>商品id</td>
        <td>商品数量</td>
        <td>价格</td>
        <td>用户id</td>
        <td>提交时间</td>
        <td>完成时间</td>
        <td>状态</td>
    </tr>
    <tr th:each="log,iterStat :${logs}">
        <td th:text="${log.serialno}"></td>
        <td th:text="${log.goodsid}"></td>
        <td th:text="${log.amount}"></td>
        <td th:text="${log.money}"></td>
        <td th:text="${log.userid}"></td>
        <td th:text="${#dates.format(log.committime,'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(log.finshtime,'yyyy-MM-dd')}"></td>
        <td th:if="${log.status==0}">提交失败</td>
        <td th:if="${log.status==1}">提交成功</td>
        <td th:if="${log.status==2}">出货成功</td>
        <td th:if="${log.status==3}">出货失败</td>
    </tr>
</table>
<nav>
    <ul class="pagination">
        <li><a href="">&laquo;</a></li>

        <li>
            <a th:if="${not isFirstPage}" th:href="@{${'/ops/showAllLog'}(pageNum=${pageNum-1},pageSize=${pageSize})}">Previous</a>
            <a th:if="${isFirstPagee}" href="javascript:void(0);">Previous</a>
        </li>

        <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
            <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo}"></span>
            </a>

            <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/ops/showAllLog'}(pageNum=${pageNo},size=${pageSize})}">
                <span th:text="${pageNo}"></span>
            </a>
        </li>
        <li>
            <a th:if="${not isLastPage}" th:href="@{${'/ops/showAllLog'}(pageNum=${pageNum+1},size=${pageSize})}">Next</a>
            <a th:if="${isLastPage}" href="javascript:void(0);">Next</a>
        </li>

        <li><a href="#">&raquo;</a></li>
    </ul>
</nav>
</body>
</html>