<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.dao.CountMapper">
  <resultMap id="BaseResultMap" type="com.wit.pojo.Count">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="showName" jdbcType="VARCHAR" property="showname" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, userName, showName, balance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from count
    where userId = #{userid,jdbcType=INTEGER}
  </select>

  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from count
    where userName = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectUser" parameterType="java.lang.String" resultMap="BaseResultMap">
   SELECT * FROM COUNT
    where userName = #{username,jdbcType=VARCHAR} and password=#{password}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from count
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wit.pojo.Count">
    insert into count (userId, userName, showName, 
      balance)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{showname,jdbcType=VARCHAR}, 
      #{balance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wit.pojo.Count">
    insert into count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="showname != null">
        showName,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="showname != null">
        #{showname,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wit.pojo.Count">
    update count
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="showname != null">
        showName = #{showname,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wit.pojo.Count">
     UPDATE `count` SET balance=balance-100 WHERE userId=2
  </update>
</mapper>