<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wit.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.wit.pojo.Order">
    <id column="serialNo" jdbcType="VARCHAR" property="serialno" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsid" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="commitTime" jdbcType="TIMESTAMP" property="committime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    serialNo, goodsId, amount, money, userId, commitTime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where serialNo = #{serialno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `order`
    where serialNo = #{serialno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wit.pojo.Order">
    insert into `order` (serialNo, goodsId, amount,
      money, userId, commitTime, 
      status)
    values (#{serialno,jdbcType=VARCHAR}, #{goodsid,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{userid,jdbcType=INTEGER}, NOW(),
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wit.pojo.Order">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialno != null">
        serialNo,
      </if>
      <if test="goodsid != null">
        goodsId,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="committime != null">
        commitTime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialno != null">
        #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="committime != null">
        #{committime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wit.pojo.Order">
    update `order`
    <set>
      <if test="goodsid != null">
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="committime != null">
        commitTime = #{committime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where serialNo = #{serialno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wit.pojo.Order">
    update `order`
    set goodsId = #{goodsid,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      userId = #{userid,jdbcType=INTEGER},
      commitTime = #{committime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where serialNo = #{serialno,jdbcType=VARCHAR}
  </update>

  <select id="selectAllOrder" resultMap="BaseResultMap">
      SELECT * FROM `order`
  </select>

  <select id="totalOrder">
     SELECT COUNT("serialNo") FROM `order`
  </select>
</mapper>